* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan-list{
    width:80%;
    margin:auto;
    text-align: center;
}
.plans {
    background:lightgreen;
    text-align:center;
    padding:16px;
    margin: 8px;
    display: inline-block;
    width:30%;
    vertical-align: middle;
    border-radius:10px;

}   

.plus{
    background:#19b84c;
    color: white;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    border-radius:10px;
}

.recommended{
    background:wheat;
    color:#19b84c;
    padding:8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius:5px;
}

.plan-title{
    color:#0e4f1f;

}

.plan-price{
    color:rgb(67, 67, 67);
}

.plan-features{
    list-style: none;
    margin:0;
    padding:0;
}

.plan-features li{
    margin: 8px 0;
}


#features{
    background:rgba(243, 63, 63, 0.83);
    margin-top:50px;
    padding: 16px   ;
}

#features .section-title{
    color: white;
    margin: 30px;

}

.feature-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-image{
    background:#ffcede;
    width:128px;
    height:128px;
    border: 2px solid grey;
    border-radius:50%;
    margin: 0 auto;
}

.description{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size:20px;
}

/* h1 {
    font-family: sans-serif;
} */
