* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header {
    width: 100%;
    position: fixed;
    background: #2ddf5c;
    padding: 8px 16px;
    z-index: 1;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;

}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.button {
    background: #0e4f1f;
    color: wheat;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    color: black;
    background: white;
}

.button:focus {
    outline: none;
}


.main-footer {
    background: black;
    padding: 25px;
    margin-top: 48px;
}

.footerss {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-link {
    margin: 0 16px;
    display: inline-block;

}

.footer-link a {
    color: wheat;
    text-decoration: none;
}

.footer-link a:hover,
.footer-link a:active {
    color: yellowgreen;
}