.container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: 20rem;
    justify-content: center;
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(8rem, auto);
    grid-auto-flow: row dense;
    grid-auto-columns: 5rem;
}

.quote {
  border: 1px solid #fa923f;
  background: #ffbd87;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 5px;
}

.quote:nth-of-type(2) {
  grid-column: span 2;
}

.quote--featured {
  border: #ff4213;
  background: #ff9f87;
  grid-column: span 2;
}